*.bak
*.pyc
flaskblog/static/pdf/weekly111422.pdf
flaskblog/static/pdf/weekly112122.pdf
flaskblog/static/pdf/weekly112822.pdf
flaskblog/static/pdf/weekly120522.pdf
flaskblog/static/pdf/weekly121222.pdf
flaskblog/static/pdf/weekly121922.pdf
flaskblog/static/pdf/weekly122622.pdf
flaskblog/static/pdf/weekly010923.pdf
flaskblog/static/pdf/weekly011623.pdf 
flaskblog/static/pdf/weekly012323.pdf
flaskblog/static/pdf/weekly013023.pdf
flaskblog/static/pdf/weekly020623.pdf
flaskblog/static/pdf/weekly021323.pdf
flaskblog/static/pdf/weekly022023.pdf
flaskblog/static/pdf/weekly022723.pdf
flaskblog/static/pdf/weekly030623.pdf
flaskblog/static/pdf/weekly031323.pdf
flaskblog/static/pdf/weekly032023.pdf
flaskblog/static/pdf/weekly040323.pdf
flaskblog/static/pdf/weekly041023.pdf
flaskblog/static/pdf/weekly041723.pdf
flaskblog/static/pdf/weekly042423.pdf
flaskblog/static/pdf/weekly050123.pdf
flaskblog/static/pdf/weekly050823.pdf
flaskblog/static/pdf/weekly051523.pdf
flaskblog/static/pdf/weekly052223.pdf
flaskblog/static/pdf/weekly052923.pdf